h2 {
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 10%;
    font-family: 'Times New Roman', Times, serif;
    width: 309px;
    align-items: center;
    letter-spacing: -0.408px;
}

.center {
    // display: block;
    // margin: auto;
    // width: 40%;
    margin-left: 37.33%;
    margin-right: 37.07%;
    margin-top: 5.42%;
    margin-bottom: 15%;
    width: 96px;
    height: 96px;
}

ion-button {
    margin-top: 15px;
    height: 48px;
    font-size: 17px;
    font-weight: 400px;
    text-transform: initial;
    border-radius: 50px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 4px;
}

p {
    text-align: center;
}

.idk {
    padding-left: 10px;
}

.image {
    width: 25px;
    height: 25px;
}
