<ion-header>
  <ion-toolbar>
    <ion-title>Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        <ion-label>Manage Services</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Food Order</ion-label>
        <ion-radio slot="start" value="order"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Buy Items</ion-label>
        <ion-radio slot="start" value="buy"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Make Delivery Only</ion-label>
        <ion-radio slot="start" value="delivery"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Advanced Bookings</ion-label>
        <ion-radio slot="start" value="advance"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-grid>

    <ion-row>
      <ion-col>Runners</ion-col>
      <ion-col>Availability</ion-col>
    </ion-row>

    <ion-row>
      <ion-col>Runner A</ion-col>
      <ion-button [routerLink]="['/manage']">Request</ion-button>
    </ion-row>

    <ion-row>
      <ion-col>Runner B</ion-col>
      <ion-button [routerLink]="['/manage']">Request</ion-button>
    </ion-row>

    <ion-row>
      <ion-col>Runner C</ion-col>
      <ion-button [routerLink]="['/manage']">Request</ion-button>
    </ion-row>

    <ion-row>
      <ion-col>Runner D</ion-col>
      <ion-button [routerLink]="['/manage']">Request</ion-button>
    </ion-row>

    <ion-row>
      <ion-col>Runner E</ion-col>
      <ion-button [routerLink]="['/manage']">Request</ion-button>
    </ion-row>

    <ion-row>
      <ion-col>Runner F</ion-col>
      <ion-button [routerLink]="['/manage']">Request</ion-button>
    </ion-row>

  </ion-grid>
  





</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="order">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>Order</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="setting">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>About Us</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>