<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-button slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        Welcome User!

        <p>User email : <strong>{{ userDetail }}</strong></p>
      </ion-col>
    </ion-row>

    <ion-button type="submit" color="danger" expand="block" (click)="signOut()">Signout</ion-button>
  </ion-grid>
  <ion-card>
    <img src="../assets/pic4.jpg">
  </ion-card>
  <ion-card>
    <img src="../assets/pic1.jpg">
  </ion-card>
  <ion-card>
    <img src="../assets/pic2.jpg">
  </ion-card>
  <ion-card>
    <img src="../assets/pic3.jpg">
  </ion-card>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="order">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>order</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>profile</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>settings</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="aboutus">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>about us</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
